@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

html {
  background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
  height: 100%;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
